*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  background-color: hsl(36deg, 100%, 99%);
  line-height: 1.5;
  color: hsl(236deg, 13%, 42%);
  padding: 1rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1;
  color: hsl(240deg, 100%, 5%);
  margin-bottom: 1rem;
}

h2 {
  font-size: 3rem;
  color: hsl(35deg, 77%, 62%);
}

h3 {
  font-size: 2rem;
  font-weight: 900;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
  }
}
.btn {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  letter-spacing: 4px;
  font-weight: 700;
  background-color: hsl(5deg, 85%, 63%);
  color: hsl(36deg, 100%, 99%);
  border: none;
  transition: all 0.3s;
}

.btn:hover {
  background-color: hsl(240deg, 100%, 5%);
  color: hsl(36deg, 100%, 99%);
  cursor: pointer;
}

.link--primary,
.link--secondary {
  text-decoration: none;
}

.link--primary:hover h3 {
  color: hsl(5deg, 85%, 63%);
}

.link--secondary:hover h3 {
  color: hsl(35deg, 77%, 62%);
}

.media {
  display: flex;
  gap: 2rem;
  max-width: 36rem;
}
.media__img {
  width: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.media__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.media__content h3 {
  color: hsl(240deg, 100%, 5%);
}
.media__num {
  font-size: 3.5rem;
  font-weight: 700;
  color: hsl(233deg, 8%, 79%);
}
.media__discription {
  line-height: 1.7;
}

.media-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 1140px) {
  .media-section {
    flex-direction: row;
  }
}
.news-letter {
  background-color: hsl(240deg, 100%, 5%);
  color: hsl(233deg, 8%, 79%);
  padding: 2rem;
  overflow: hidden;
  max-height: 50rem;
}
.news-letter h3 {
  color: hsl(36deg, 100%, 99%);
  font-size: 1.5;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.news-letter .new__item {
  padding: 2rem 0;
  border-bottom: 1px solid hsla(233deg, 8%, 79%, 0.6);
}
.news-letter .new__item P {
  opacity: 0.8;
}
.news-letter .new__item:last-child {
  border: none;
  padding-bottom: 1rem;
}

.main-section {
  max-width: 720px;
}
.main-section img {
  max-height: 30rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__bottom {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}
.main__bottom p {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .main-section img {
    height: 30rem;
  }
  .main__bottom {
    margin-top: 1.5rem;
    flex-direction: row;
    gap: 5rem;
  }
  .main__bottom h1 {
    flex-grow: 1fr;
  }
  .main__bottom .main__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1fr;
    padding-right: 1rem;
  }
  .main__bottom .main__content .btn {
    align-self: flex-start;
  }
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 3rem;
}
.main-container .news-letter {
  flex-grow: 2;
}
.main-container .main-section {
  align-self: center;
}

@media screen and (min-width: 1140px) {
  .main-container {
    flex-direction: row;
  }
  .news-letter {
    max-width: 36.1rem;
  }
}
.container {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.menu {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: hsl(36deg, 100%, 99%);
  position: relative;
}
.menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100vh;
  width: 70%;
  padding-left: 2rem;
  padding-top: 10rem;
  gap: 2rem;
  display: none;
  background-color: hsl(36deg, 100%, 99%);
  z-index: 1;
}
.menu a {
  color: hsl(240deg, 100%, 5%);
}
.menu a:hover {
  color: hsl(5deg, 85%, 63%);
}
.menu-icon:hover {
  cursor: pointer;
}
.menu-close {
  cursor: pointer;
  z-index: 2;
}

.hidden {
  display: none;
}

.vissible {
  display: flex;
}

@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }
  .menu__list {
    display: flex;
  }
}/*# sourceMappingURL=styles.css.map */