$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);
$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;

}

body{
    font-family: 'Inter', sans-serif; 
    font-size: 1.5rem;
    background-color: $off-white;
    line-height: 1.5;
    color: $dark-grayish-blue;
    padding: 1rem;
}

// Typography

h1{
font-size: 3.5rem;
font-weight: 900;
line-height: 1;
color: $very-dark-blue;
margin-bottom: 1rem;
}
h2{
    font-size: 3rem;
    color: $soft-orange;
}
h3{
    font-size: 2rem;
    font-weight: 900;
    
}

@media screen and (min-width: 768px ) {
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 4rem;
    }
}

// Button

.btn{
text-transform: uppercase;
padding: 1.5rem 3rem;
letter-spacing: 4px;
font-weight: 700;
background-color: $soft-red;
color: $off-white ;
border: none;
transition: all .3s;
}
.btn:hover{
    background-color: $very-dark-blue;
    color: $off-white;
    cursor: pointer;
}
// links
.link--primary,.link--secondary{
text-decoration: none;

}

.link--primary:hover h3{
color: $soft-red;
}
.link--secondary:hover h3{
    color: $soft-orange;
}


// Media component

.media{
    display: flex;
    gap: 2rem;
    width: 36rem;
   
    
    &__img{
       width: 10rem;
       object-fit: cover;
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        h3{
            color:$very-dark-blue;
         
        }

    }
    &__num{
        font-size: 3.5rem;
        font-weight: 700;
        color: $grayish-blue;
    }
    &__discription{
        line-height: 1.7;
    }
}

// Media section

.media-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1150px;
}

@media screen and (min-width: 768px) {
    .media-section{
        flex-direction: row;
    }
}

// News letter

.news-letter{
    background-color: $very-dark-blue;
    color: $grayish-blue;
    padding: 2rem;
   h3{
    color: $off-white;
    font-size: 1.5;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: .5rem;
   }
   .new__item{
    padding: 2rem 0;
    border-bottom: 1px solid hsla(233, 8%, 79%, 0.6);
    P{
        opacity: .8;
    }
    
   }
   .new__item:last-child{
    border: none;
    padding-bottom: 1rem;
}
}

// main-section

.main-section{
    img{
      max-height: 30rem;
      width: 100%;
      object-fit: cover ;
    }
}
.main__bottom{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    p{
        margin-bottom: 2rem;
    }

}

@media screen and (min-width: 768px) {
.main__bottom{
    margin-top: 1.5rem;
    flex-direction: row;
    gap: 5rem;
    h1{
        flex-grow: 1fr;
    }
    .main__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1fr;
        padding-right: 1rem;
        .btn{
            align-self:flex-start;
        }
    }
}
    
}