
 <section class="media-section">
    <article class="media">
      <img class="media__img" src="./assets/images/image-retro-pcs.jpg" alt="retro pc">
      <div class="media__content">
        <span class="media__num">
          01
        </span>
        <a href="#" class="link--primary"><h3>Reviving Retro PCs</h3></a>
        <p class="media__discription">What happens when old PCs are given modern upgrades?</p>
      </div>
    </article>
    <article class="media">
      <img class="media__img" src="./assets/images/image-top-laptops.jpg" alt="retro pc">
      <div class="media__content">
        <span class="media__num">
          02
        </span>
        <a href="#" class="link--primary"><h3>Top 10 Laptops of 2022</h3></a>
        <p class="media__discription">Our best picks for various needs and budgets.</p>
      </div>
    </article>
    <article class="media">
      <img class="media__img" src="./assets/images/image-gaming-growth.jpg" alt="retro pc">
      <div class="media__content">
        <span class="media__num">
          03
        </span>
        <a href="#" class="link--primary"><h3>The Growth of Gaming</h3></a>
        <p class="media__discription">How the pandemic has sparked fresh opportunities</p>
      </div>
    </article>
   </section>